body
{

}

/*2*/

.navbar-nav #textButton *
{
    background-color: black !important;
    color: white !important;
    right:0px !important;
}


.floatNavbar
{
    margin-bottom: 0px !important;
}
.floatNavbar .navbar-nav li a
{
    font-weight: bold;
    margin-left: -1px;
}
.floatNavbar.affix
{
    top:0;
    width: 100%;
    z-index: 10;
}
@media (min-width: 768px)
{
    .floatNavbar .col-sm-12
    {
        padding-left: 70px;
        padding-right: 70px;
        box-shadow: 0 0 5px rgba(0,0,255,0.7);
    }
    .floatNavbar .navbar-nav li a
    {
        line-height: 50px;
        border-left: 1px solid #d9d9d9;
        border-right: 1px solid #d9d9d9;
    }
    .floatNavbar .glyphicon-search
    {
        line-height: 80px;
        cursor: pointer;
        padding: 0px 25px 0px 25px;
        border-left: 1px solid #d9d9d9;
        border-right: 1px solid #d9d9d9;
        position: relative;
        z-index: 2;
    }
    .floatNavbar .searchContentBar
    {
        border: 0px;
        height: 80px;
        vertical-align: middle;
        font-size: 30px;
        font-weight: bold;
        position: absolute;
        border: none;
        width: 70%;
        background-color: #f8f8f8;
        z-index: 1;
        outline: none;
    }
    .floatNavbar .searchContentBar:focus
    {
        box-shadow: none;
        outline: none;
    }
}

/*1 logoBar*/
.logoBar
{
    height: 170px;
    margin-bottom: 10px;
}
.logoBar span
{
    width: 0;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}
.logoBar .log
{
    display: inline-block;
    vertical-align: middle;
    float: left;
}

/*3 picList*/
.picList
{
   background-color:#f6f6f6;
    padding: 0px !important;
}

/*4 methodList*/
.methodList
{
    margin-top: 70px;
    margin-bottom: 70px;
}
.methodList .col-sm-4
{
    border-left: 1px solid #a7a7a7;
    border-right: 1px solid #a7a7a7;
    margin-left: -1px;
}

/*5 freeList*/
.freeList .col-sm-4
{
    overflow: hidden;
    padding: 0px !important;
    border: 10px solid white;
}
.freeList .col-sm-4 img
{
    transition: transform 0.5s;
}
.freeList .col-sm-4 img:hover
{
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}


/*6 paraffla*/
.paraffla
{
    padding: 25% 0px 25% 0px !important;
    width: 100%;
    margin-top: 100px;
    position: relative;

    background-image: url("../img/img.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.paraffla img
{

}
.paraffla .disButton
{
    background-color: #00ee00 !important;
    color: white;!important;
    border-radius: 0px !important;
    border:none;
    display: inline-block;
    z-index: 1;

    -webkit-transition: background-color 0.5s,color 0.5s;
    -moz-transition: background-color 0.5s,color 0.5s;
    -ms-transition: background-color 0.5s,color 0.5s;
    -o-transition: background-color 0.5s,color 0.5s;
    transition: background-color 0.5s,color 0.5s;
}
.paraffla button:hover
{
    background-color: #0b4f00 !important;
    color: #ee7782 !important;
    cursor: pointer !important;
}
.paraffleOffset
{
    margin-left: 20%;
}

/*7 picShow*/
.picShow
{
    margin-top: 100px;
}
.picShow .col-xs-1
{
    text-align: center;
}
.picShow .col-xs-10 .row div
{
    border:none;
    position: relative;
}
.picShow .col-xs-10 .row div img
{
    width: 100%;
    position: relative;
}
.picShow .col-xs-10 .row div .hiddenInfo
{
    position: absolute;
    width: 200px;
    height:0px;
    bottom:0px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0,0,0,0.5) !important;

    transition: all 0.4s;
}
.picShow .col-xs-10 .row div:hover .hiddenInfo
{
    height: 40px;
}