body,html
{
    margin: 0px;
    padding: 0px;
    border: none;
    text-decoration: none;
}

html
{
    background: url("../img/mainPageBackground.png") repeat-x rgb(147,197,234);
    width: 100%;
    height: 100%;
}

body
{
}

#i_AllContent
{
    width: 100%;
    height: 1280px;
}

#i_AllContent #r_CenterBar
{
    width: 100%;
    height: auto;
    margin-top: 70px;
}

#i_AllContent #r_CenterBar .bigDivArray
{
    margin-top: 0px;
    width: 100%;
    text-align: center;
    height: 70px;
    line-height: 50px;
}

#i_AllContent #r_CenterBar .bigDivArray .submitButton
{
    display: inline-block;
    width: 380px;
    height: 44px;
    border: none;
    border-radius: 3px;
    line-height: 30px;
    vertical-align: middle;
    font-size: 15px;
    text-indent: 20px;
    box-shadow: 0 0 1px rgba(0,0,0,0.9);
    background-color: #90c843;

    font-size: 24px;
    font-weight: 100;
    color: white;
    margin-top: 25px;
}

#i_AllContent #r_CenterBar .bigDivArray .bigInputArray
{
    display: inline-block;
    width: 380px;
    height: 32px;
    border: 1px solid #aeb4a8;
    border-radius: 3px;
    line-height: 30px;
    vertical-align: middle;
    font-size: 15px;
    text-indent: 20px;
    box-shadow: 0 0 1px rgba(0,0,0,0.9);
}

#i_AllContent #r_CenterBar .bigDivArray .bigInputArray:focus
{
    box-shadow: 0px 0px 10px rgba(0,0,1,1.0);
    border: 1px solid blue;
}

#i_AllContent #r_CenterBar #verifyDiv
{
    text-align: center !important;
}
#i_AllContent #r_CenterBar #verifyDiv span
{
    width: 0px;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}
#i_AllContent #r_CenterBar .bigDivArray #verifyInput
{
    width: 180px !important;
    display: inline-block;
    vertical-align: middle;
}
#i_AllContent #r_CenterBar #verifyDiv #verifyImage
{
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

#i_AllContent #r_CenterBar #r_CenterRegisterBar
{
    width: 450px;
    height: auto;
    background-color: white;
    margin: 0 auto;

    box-shadow: 0px 0px 6px rgba(0,0,0,0.9);
    border-radius: 3px;
    padding-bottom: 40px;
    position: relative;
}

/*显示错误信息*/
#i_AllContent #r_CenterBar #r_CenterRegisterBar #errorPrompt
{
    width: 100%;
    text-align: left;
    font-size: 18px;
    padding-left: 40px;
    color: red;
    font-family: 黑体;
}

#i_AllContent #r_CenterBar #r_CenterRegisterBar #registerGuidDiv
{
    width: 100%;
    height: 50px;

    margin-bottom: 32px;
}

#i_AllContent #r_CenterBar #r_CenterRegisterBar #registerGuidDiv a
{
    display: inline-block;
    float: left;
    width: 150px;
    height: 100%;
    border: none;
    margin: 0px;
    cursor: pointer;
}

#regiterEmailButton
{
    background: url("../img/register/1.png") no-repeat center white;
}
#regiterPhoneButton
{
    background: url("../img/register/2.png") no-repeat center grey;
}
#regiterHelpButton
{
    background: url("../img/register/3.png") no-repeat center grey;
}

#i_AllContent #r_TopUserBar
{
    width: 100%;
    background: url("../img/back/back8.png") repeat;
    height: 50px;
}

#i_AllContent #r_TopUserBar #r_UserPrompt
{
    width: 800px;
    height: 50px;
    color: #fbf9ff;
    border: none;
    margin: 0 auto;
    text-align: right;
    font-size: 24px;
    padding-right: 20px;
    vertical-align: middle;
}

#i_AllContent #r_TopUserBar #r_UserPrompt span
{
    display: inline-block;
    width: 0px;
    height: 100%;
    vertical-align: middle;
    background-color: white;
}

#i_AllContent #r_TopUserBar #r_UserPrompt a
{
    width: 100px;
    height: 40px;
    border: none;
    background-color: #009100;
    vertical-align: middle;
    display: inline-block;
    margin-left: 40px;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
    color: white;
    cursor: pointer;
    text-decoration: none;

    box-shadow: 3px 1px 4px rgba(0,0,0,0.75);
    border-bottom: 1px solid black;
    text-shadow: 0px 0px 1px rgba(0,0,0,0.75);
}

#i_AllContent #r_TopUserBar #r_UserPrompt a:hover
{
    background-color: #00ca00;
}

/*隐藏的help页面*/
#hiddenHelpPage
{
    width: 450px;
    height: 530px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(1,0,0,0.5);
    display: none;
}