#submitBlogDiv
{
    width: 655px;
    height: auto;
    background: url("../img/back/back3.jpg") repeat;
    margin: 10px 10px;
    padding: 0px;
    border: none;
    border-radius: 3px;
}

#submitBlogDiv #iSubmitContentFirstLine
{
    width:655px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    color: black;
    border: none;
    margin: 0px;
    text-shadow: 1px 1px 1px rgba(1,0,0,0.75);
    padding-left: 20px;
}

#submitBlogDiv #iSubmitContentSecondLine
{
    width:655px;
    height: 140px;
    margin: 0px auto;
    border: none;
    padding: 0px;
    text-align: center;
}

#submitBlogDiv #iSubmitContentThirdLine
{
    width:655px;
    height: 50px;
    margin: 0px;
    border: none;
    padding: 0px;
    line-height: 50px;
    position: relative;
}

#submitBlogDiv #iSubmitContentThirdLine #iSubmitBlogButton
{
    width: 120px;
    height: 40px;
    position: absolute;
    right: 5px;
    font-size: 20px;
    color: white;
    border: none;

    border-radius: 1px;
    background-color: #009f00;
    box-shadow: 0 0 5px rgba(0,1,0,0.7);
    text-shadow: 1px 0px 2px rgba(0,0,0,0.5);
    border-bottom: 1px solid #787878;

    cursor: pointer
}
#submitBlogDiv #iSubmitContentThirdLine #iSubmitBlogButton:hover
{
    background-color: #00ee00;
}
#submitBlogDiv #iSubmitContentThirdLine #iSubmitBlogButton:active
{
    background-color: #ee0308;
}

#submitBlogDiv #iSubmitContentSecondLine #iSpeakContent
{
    text-decoration: none;
    font-family:黑体;
    width: 640px;
    height: 130px;
    font-size: 15px;
    border: none;
    resize: none;
    border: 1px solid #a6a6a6;
}